.content{
    margin-top: 0px;
    padding: 22px;
}
.user-all-profil-content{
    padding: 14px 26px;
}
.user-profil-content{
    background-color: #F1F1E9;
    padding: 19px 0px 10px 0px;
}
.user-profil-header {
    color: #535353;
    font-size: 22px;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 13px 0px;
    border-bottom: 1px solid #D4D2D2;
}
.col-md-3 {
    width: 26%;
}
.col-md-8 {
    width: 73.666667%;
}
label{
    font-weight: 200;
}

.form-text{
    font-size: 13px;
    margin: 0 0 10px 3%;
    color: #A5A5A5;
    padding-right: 0px;
}
.form-text b{
    color: #737373;
}
.form-group {
    margin-bottom: 9px;
}
.form-control {
    height: 30px;
    width: 108% !important;
    box-shadow: inset 1px 0px 0px 0px #B0B0B0, inset 0px 1px 1px 0px #F1F1F1;
}
.submit, .blablacar-forms-submit{
    background-color: #0CB1F0;
    margin: 0px 0px 25px 0%;
    width: 11%;
    font-size: 14px;
    height: 31px;
    box-shadow: 0px 0px 0px #A9A8A8;
    text-shadow: 1px 1px #818181;
    border-left: 1px solid #BBB !important;
    border: 1px solid #007FB0;
    border-radius: 3px;
}
.submit:hover,
.blablacar-forms-submit:hover
{
    box-shadow: inset 0px 0px 4px 3px #89DAF9;
    color: #fff;
    background-color: #0CB1F0;
}
