li {
    list-style: none;
}
.content{
    padding: 22px;
}
.my-schedule-1{
    border-bottom: 2px solid #0ca9fa;
    width: 13%;
    margin: 10px 0 20px 0;
}
.my-schedule{
    margin: 9%;
}
.span-1{
    border: 2px solid #0ca9fa;
    border-radius: 50%;
    padding: 0px 0px 0px 5px;
    margin: -8.5% -21px 0 8.35%;
    display: block;
    width: 23px;
    height: 23px;
    float: right;
}
.main-block{
    background: #f1f1e9;
    margin-bottom: 18px;
    border: 1px solid #dfdfcd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
h3,.span3,p{
    margin: 0px 0px 0px 0px !important;
    display: flex !important;
}
.header-main-block{
    border-bottom: 1px solid #d1d1d1;
    line-height: 39px;
    padding: 0px 0 0 17px;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 20px;
    background-color: #fafafa;
}
.radios{
    padding:  3% 42% 6% 6%;
}
label {
    font-weight: 200;
}
.float-left{
    float: left;

}
.float-right{
    float: right;
}

.radio-left{
    margin: 0% 0% 0% 0%;
}
.main-block-content{
    padding: 3%;
}
.input{
    width: 100%;
    padding: 1%;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.div-input{
    width: 40%;
    background-color: #ffffff;
}
.from{
    background: #fff url("/bundles/nxtcarmain/images/search-from.png") no-repeat 1% 50%;
    padding: 8px 0px 8px 30px;
}
.to{
    background: #fff url("/bundles/nxtcarmain/images/search-to.png") no-repeat 1% 50%;
    padding: 8px 30px;
}
.helper{
    font-size: 13px;
    color: #999;
    margin: 10px 25px !important;
}
.control-label{
    font-size: 14px;
    margin-top: 30px !important;
}
.div-input{
    margin: 10px 0;
}
.remove-input{
    padding: 2.4%  7%;
}
.close{
    margin: -12% 2% 0% 0%;
    opacity: 0;
}
.move-span{
    width: 10px;
    height: 25px;
    float: left;
    margin: -12% 2% 0% 2%;
    background: url("/bundles/nxtcarmain/images/point.png") ;
}
.stage-add {
    padding-right: 4px;
    width: 240px;
    cursor: pointer;
    border: 1px dotted #cbcbcb;
    background: transparent url("/bundles/nxtcarmain/images/marker-orange.png") no-repeat 6px 50%;
    color: #666;
    float: left;
    line-height: 33px;
    height: 33px;
    text-align: center;
    font-size: 12px;
}
.plus-button{
    float: right;
    color: #7C7C7C;
    font-size: 15px;
    font-weight: 600;

}
.input-date{
    width: 40%;
    float: left;
    margin-right: 6px;
}
.label-round-trip{
    font-size: 14px;
    float: right;
    margin: 6px  10px 2px 0;
}

.date-and-time{
    float: left;
}
.control-label{
    margin: 0 !important;
}
.date-picker{
    padding: 3px 25px;
    background: url("/bundles/nxtcarmain/images/calendar.png") no-repeat 6px 50%;
    background-color: #fff;
}
.time-select{
    padding: 4px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.left-block {
    width: 60% !important;
}
.recurring .ui-datepicker {
    display: inline-block !important;
}
.recurring .ui-datepicker td {
    padding: 0 !important;
}

.recurring .blue-day a {
    background: #c5f0ff;
}
.recurring .green-day a {
    background: #adde71;
}
.recurring .blue-green-day a {
    background: linear-gradient(-40deg,#c5f0ff 43%, #adde71 50%);
}
.recurring .blue-day a,.recurring .blue-green-day a,.recurring .green-day a {
    box-shadow: inset 1px 1px 2px rgb(190, 190, 190);
    -webkit-box-shadow: inset 1px 1px 2px rgb(190, 190, 190);
    -moz-box-shadow: inset 1px 1px 2px rgb(190, 190, 190);
}





/*.content{
    padding: 22px;
}*/
/*
.my-schedule-1{
    border-bottom: 2px solid #0ca9fa;
    display: initial;
}
.my-schedule{

}
.span-1{
    border: 2px solid #0ca9fa;
    border-radius: 50%;
    padding: 0px 0px 0px 5px;
    margin: -1.4% 0 0 8.35%;
    display: block;
    width: 23px;
    height: 23px;
}
.main-block{
    background: #f1f1e9;
    margin-bottom: 18px;
    border: 1px solid #dfdfcd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
h3,.span3{
    margin: 0px !important;
    display: flex !important;
}
.header-main-block{
    border-bottom: 1px solid #d1d1d1;
    line-height: 39px;
    padding: 0 0 0 17px;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 20px;
    background-color: #fafafa;
}
.radios{

    padding:  3% 34% 6% 3%;
}
.float-left{
    float: left;

}
.float-right{
    float: right;
}
.label-right{
    */
/*margin: 	;*//*

}
.radio-left{
    margin: 0% 0% 0% 0%;
}
.main-block-content{
    padding: 3%;
}
.input{
    width: 100%;
    padding: 1%;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.div-input{
    width: 40%;
    background-color: #ffffff;
}
.remove-input{
    padding: 3%;
}
.close{
    margin: -12% 2% 0% 0%;
}
.stage-add {
    padding-right: 4px;
    width: 240px;
    cursor: pointer;
    border: 1px dotted #cbcbcb;
    background: transparent url(../img/marker-orange.png) no-repeat 6px 50%;
    color: #666;
    float: left;
    line-height: 33px;
    height: 33px;
    text-align: center;
}
.plus-button{
    float: right;
    color: #7C7C7C;
    font-size: 15px;
    font-weight: 600;

}
.input-date{
    width: 40%;
    float: left;
}*/
