li {
    list-style: none;
}
.content{
    padding: 22px;
}
.my-schedule-1{
    border-bottom: 2px solid #0ca9fa;
    width: 13%;
    margin: 10px 0 20px 0;
}
.my-schedule{
    margin: 9%;
}
.span-1{
    border: 2px solid #0ca9fa;
    border-radius: 50%;
    padding: 0px 0px 0px 5px;
    margin: -8.5% -21px 0 8.35%;
    display: block;
    width: 23px;
    height: 23px;
    float: right;
}
.main-block{
    background: #f1f1e9;
    margin-bottom: 18px;
    border: 1px solid #dfdfcd;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
h3,.span3,p{
    margin: 0px 0px 0px 0px !important;
    display: flex !important;
}
.header-main-block{
    border-bottom: 1px solid #d1d1d1;
    line-height: 39px;
    padding: 0px 0 0 17px;
    border-bottom: 1px solid #ccc;
    -moz-border-radius-topleft: 3px;
    -webkit-border-top-left-radius: 3px;
    border-top-left-radius: 3px;
    -moz-border-radius-topright: 3px;
    -webkit-border-top-right-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 20px;
    background-color: #fafafa;
}
.radios{
    padding:  3% 42% 6% 6%;
}
label {
    font-weight: 200;
}
.float-left{
    float: left;

}
.float-right{
    float: right;
}

.radio-left{
    margin: 0% 0% 0% 0%;
}
.main-block-content{
    padding: 3%;
}
.input{
    width: 100% !important;
    padding: 1%;
    border: 1px solid #cbcbcb;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.div-input{
    width: 40%;
    background-color: #ffffff;
}
.from{
    background: #fff url("/bundles/nxtcarmain/images/search-from.png") no-repeat 1% 50%;
    padding: 8px 0px 8px 30px;
}
.to{
    background: #fff url("/bundles/nxtcarmain/images/search-to.png") no-repeat 1% 50%;
    padding: 8px 30px;
}
.helper{
    font-size: 13px;
    color: #999;
    margin: 10px 25px !important;
}
.control-label{
    font-size: 14px;
    margin-top: 30px !important;
}
.div-input{
    margin: 10px 0;
}
.remove-input{
    padding: 2.4%  7%;
    width: 115%;
}
.close{
    margin: -12% 3% 0% 0%;
    opacity: 0;
}
.move-span{
    width: 10px !important;
    height: 25px;
    float: left;
    margin: -12% 2% 0% 2%;
    background: url("/bundles/nxtcarmain/images/point.png") ;
}
.stage-add {
    padding-right: 4px;
    width: 240px;
    cursor: pointer;
    border: 1px dotted #cbcbcb;
    background: transparent url("/bundles/nxtcarmain/images/marker-orange.png") no-repeat 6px 50%;
    color: #666;
    float: left;
    line-height: 33px;
    height: 33px;
    text-align: center;
    font-size: 12px;
}
.plus-button{
    float: right;
    color: #7C7C7C;
    font-size: 15px;
    font-weight: 600;

}
.input-date{
    width: 40%;
    float: left;
    margin-right: 6px;
}
.label-round-trip{
    font-size: 14px;
    float: right;
    margin: 6px  10px 2px 0;
}

.date-and-time{
    float: left;
}
.control-label{
    margin: 0 !important;
}
.date-picker{
    padding: 3px 25px;
    background: url("/bundles/nxtcarmain/images/calendar.png") no-repeat 6px 50%;
    background-color: #fff;
}
.time-select{
    padding: 4px;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.left-block {
    width: 60% !important;
}
.recurring .ui-datepicker {
    display: inline-block !important;
}
.recurring .ui-datepicker td {
    padding: 0 !important;
}

.recurring .blue-day a {
    background: #c5f0ff;
}
.recurring .green-day a {
    background: #adde71;
}
.recurring .blue-green-day a {
    background: linear-gradient(-40deg,#c5f0ff 43%, #adde71 50%);
}
.recurring .blue-day a,.recurring .blue-green-day a,.recurring .green-day a {
    box-shadow: inset 1px 1px 2px rgb(190, 190, 190);
    -webkit-box-shadow: inset 1px 1px 2px rgb(190, 190, 190);
    -moz-box-shadow: inset 1px 1px 2px rgb(190, 190, 190);
}


/*date*/
.days-btn {
    border-radius: 0;
}
.days-btn{
    padding: 4px 6px;
    font-size: 11px;
    min-width: 32px;
    max-width: 33px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,.15);
    line-height: 20px;
    color: #333;
    text-shadow: 0 1px 1px rgba(255,255,255,.75);
    vertical-align: middle;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-image: linear-gradient(to bot+tom,#fff,#e6e6e6);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2),0 1px 2px rgba(0,0,0,.05);
    margin-bottom: 7px;
}

.days-btn:hover {
    color: #333;
    border: 1px solid  rgba(0,0,0,.15);
    text-decoration: none;
    background-color: #e6e6e6;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear

}
.ui-sortable {
    background-color:  #f1f1e9  ;
}
.ui-sortable>li{
    margin-bottom: 7px;
}
form button{
    float: right;
    border: 0;
    background-color: #0ca9fa;
    border-radius: 0;
    color: #fff;
    border-bottom: 2px solid #0479b6;
    padding: 6px 14px;
    font-size: 18px;
}

form button:hover{
    background-color: #048acf;
}

form button[type='submit'][disabled='disabled']{
    background-color: #adadad !important;
}


.map{
    padding: 13px;
    border: 1px solid #DBDBDB;
    width: 125%;
    font-size: 13px;
    color: #494949;
}

.form-control{
    box-shadow: 0 0 0;
    border-radius: 3px;
}


.price{
    float: right;
}
.div-from-to{
    float: left;
}

.div-price{
    float: right;
}
.form-to-price{
    padding: 0px;
    list-style: none;
}
.form-to-price li{
    font-size: 17px;
    margin:  15px;

}
.form-to-price .last{
    padding-top:22px;
    border-top: 1px solid #C8C8C8;
    font-weight: 600;
    line-height: 12px;
}
.marker{
    width: 20px;
    height: 25px;
    float: left;
    background-image:url("/bundles/nxtcarmain/images/markers.png") ;
}
.marker-1{
    background-position:  0 315px;
}
.marker-2{

    background-position: 0 390px;
}
.textarea-tip{
    width: 100%;
}
.helper{
    background: transparent url("/bundles/nxtcarmain/images/information-inset.png")  no-repeat 0 0;
    font-size: 13px;
    margin-bottom: 28px;
    color: #444;
    line-height: 18px;
    text-indent: 22px;
}
.add-sub-bt{
    float: right;
    margin: 0 5px;
}
.btn-plus,
.btn-minus{
    height: 16px;
    width: 16px;
    border: 0;
    display: block;
}

.btn-plus{
    background:  url("/bundles/nxtcarmain/images/btn-plus.png") no-repeat 0 0;
}
.btn-minus{
    background:  url("/bundles/nxtcarmain/images/btn-minus.png") no-repeat 0 0;
}
 .number-span,
.price{
    color: #68be57;
    font-size: 18px;
}
.number{
    width: 60px;
    padding: 2px 4px;
    text-align: right;
    border: 1px solid #C8C8C8;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
    box-shadow: inset 0px 2px 3px -1px #E0E0E0;
}
.add-on{
    padding: 4px 6px 5px ;
    margin-right: -6px;
    background-color:#fff;
    border: 1px solid #C8C8C8;
    border-top-left-radius:4px ;
    border-bottom-left-radius:4px ;
}

.last .price{
    color: #c93634;
    margin-right: 26px;
}
.number-span{
    float: right;
}
.number-span .number{
    border-radius: 4px;
    color: #000;
}
.last .number{

    float: right;
    cursor: no-drop;
    margin-top: -9px;
    padding: 4px 4px;
    background-color: #eee;
    box-shadow: 0 0  0;
    line-height: normal;
}
.last .add-on{
    margin: -1px ;
    background-color: #eee;
}
.price-normally{
    font-weight: 200;
    font-size: 13px;
    color: #989898;
}
.number-of-seats-offered{
    padding: 12px 10px 5px 10px;
    font-size: 23px;
}
.helper1{
    text-indent: 20px;
    font-size: small;
    background: url("/bundles/nxtcarmain/images/information-inset.png") no-repeat 0 0;
    color: rgb(86, 86, 86);
    margin-bottom: 40px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.date-time .btn-primary:focus {
    color: black;
}