{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_find.css") }}">
{% endblock %}

{% block content %}
    <div class="trip-search-form search-form search-container">
        <h2>
            Find a ride
        </h2>
        <form id="search-form" class="form-inline" action="/search">
            <input type="text" id="search_from_name" data-autocomplete="name" name="fn" title="From" placeholder="From" class="search-from place-autocomplete" autocomplete="off">
            <input type="hidden" id="search_from_coordinates" name="fc" data-autocomplete="coordinates" data-autocomplete-ref="search_from_name" value="">
            <input type="hidden" id="search_from_country_code" name="fcc" data-autocomplete="country_code" data-autocomplete-ref="search_from_name" value="">


            <button type="button" class="btn reverse tip">
                <img {#src="http://d1ovtcjitiy70m.cloudfront.net/vi-1/images/icons/reverse2.png"#} width="18" height="16" alt="Switch">
            </button>

            <input type="text" id="search_to_name" data-autocomplete="name" name="tn" title="To" placeholder="To" class="search-to place-autocomplete" autocomplete="off">
            <input type="hidden" id="search_to_coordinates" name="tc" data-autocomplete="coordinates" data-autocomplete-ref="search_to_name" value="">
            <input type="hidden" id="search_to_country_code" name="tcc" data-autocomplete="country_code" data-autocomplete-ref="search_to_name" value="">


            <input type="submit" class="btn btn-large btn-primary" value="Find">
        </form>
    </div>





{% endblock %}