{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_find.css") }}">
{% endblock %}

{% block content %}
    <div class="test_find">eee</div>
    find
{% endblock %}