{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_find.css") }}">
{% endblock %}

{% block content %}
    <div class="trip-search-form search-form search-container">
        <h2>
            Find a ride
        </h2>
        <form id="search-form" class="form-inline" action="/search">
            <input type="text"   title="From" placeholder="From" class="search-from" >


            <button type="button" class="btn reverse tip">
                <img src="/bundles/nxtcarmain/images/reverse2.png" width="18" height="16" alt="Switch">
            </button>

            <input type="text"  title="To" placeholder="To" class="search-to" >

            <input type="submit" class="search-btn btn btn-large" value="Find">
        </form>
    </div>

    <img src="/bundles/nxtcarmain/images/no-search.jpg" {#width="18" height="16" #}alt="Switch">



{% endblock %}