{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_offer.css") }}">
{% endblock %}


{% block content %}
        <div class="publication-container">
            <h3>Offer a ride on your next long journey</h3>
            <span class="my-schedule"><b {#class="b-my-schedule"#}>My schedule</b></span>
            <div class="my-schedule-1">
                <span class="span-1">1</span>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <fieldset class="main-block">
                        <div class="header-main-block">
                            <p>Type of trip</p>
                        </div>
                        <div class="radios">
                            <label  class="radio radio-left float-left">
                                <input type="radio" name="radio" checked="checked">
                                 One-time trip
                            </label>
                            <label  class="radio label-right float-right">
                                <input class="" type="radio" name="radio" >
                                Recurring trip
                            </label>
                        </div>
                    </fieldset>




                    <fieldset class="main-block">
                        <div class="header-main-block">
                            <p>Exact route</p>
                        </div>

                        <section class="main-block-content">
                            <input type="text" class=" input from tip "  placeholder="Your departure point (address, city, station...)" class=" input from tip " >
                            <p class="helper">Example: Canary Wharf, London</p>
                            <input type="text" class="to tip input" placeholder="Your arrival point (address, city, station...)"  >


                            <section class="stages-container clearfix">
                                <p  class=" control-label">Now enter the main cities you will drive through: this is key to connecting you and your passengers</p>
                                <div class="div-input">
                                    <input type="text" class="input remove-input "  placeholder="Add cities on your route"  >
                                    <a class="close  tip" href="#" title="Remove this stopover">×</a>
                                    <a class="close move-span  tip" href="#" title="Remove this stopover"></a>
                                </div>

                                <div class="stage-add" >
                                    <a class="plus-button tip">+</a>
                                    Add more cities on your route
                                </div>


                            </section>
                        </section>
                    </fieldset>





                    <fieldset class="main-block">

                        <div class="header-main-block clearfix">
                            <p class="date-and-time">Date and time</p>

                            <div class="">
                                <label  class="label-round-trip">
                                    <input type="checkbox"  class="trip-mode simple-round-choice"  checked="checked">
                                    Round trip
                                </label>

                            </div>
                        </div>

                        <section id="publication-unique" class="main-block-content" style="display: block;">
                            <section class="date-time">
                                <label  class=" control-label">Departure date:</label>
                                <div  class="departure-date">
                                    <div class="input-date">
                                        <input type="text" class="input date-picker " placeholder="DD/MM/YYYY" >
                                    </div>
                                    <select  class="time-select">
                                        <option value="" selected="selected"></option>
                                        <option value="0">00</option>
                                    </select>:
                                    <select  class="time-select">
                                        <option value="" selected="selected"></option>
                                        <option value="0">00</option>
                                    </select>
                                </div>
                                <br>

                                <label  class=" control-label">Return date:</label><br>
                                <div class="input-date">
                                    <input type="text" class="input date-picker hasDatepicker" placeholder="DD/MM/YYYY" >
                                </div>
                                <select  class="time-select">
                                    <option value="" selected="selected">11</option>
                                    <option value="0">00</option>
                                </select> :
                                <select  class="time-select">
                                    <option value="" selected="selected"></option>
                                    <option value="0">00</option>
                                </select>
                            </section>
                        </section>


                    </fieldset>

                </div>
                <div class="col-md-4">
                    <div>
                        <p>Route itinerary</p>
                    </div>
                </div>
            </div>
        </div>






{% endblock %}