{% extends "nxtcarMainBundle::layout.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_offer.css") }}">
    <link rel="stylesheet" href="{{ asset('app/bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css') }}">
{% endblock %}

{% block AngularController %}ng-controller="RideController"{% endblock %}

{% block content %}





    <div class="publication-container">
        <h3>Offer a ride on your next long journey</h3>
        <span class="my-schedule"><a> My schedule</a></span>
        <div class="my-schedule-1">
            <span class="span-1">1</span>
        </div>

        <div class="row">
            <div class="col-md-8 left-block">
                <fieldset class="main-block">
                    <div class="header-main-block">
                        <p>Price per passenger</p>
                    </div>
                    <div class="">
                        <ul class="form-to-price">
                            <li >
                                <div class="marker-1 marker"></div>
                                <span class="from-to ">From → to</span>
									<span class="price">
										<span class="add-on">£</span>
										<input type="text" class="number" value="222">
										<span class="add-sub-bt">
											<button class="btn-plus"></button><!--<br>-->
											<button class="btn-minus"></button>
										</span>
									</span>
                            </li>
                            <li class="">
                                <div class="marker-2 marker"></div>
                                <span class="from-to ">From → to</span>
									<span class="price">
										<span class="add-on">£</span>
										<input type="text" class="number" value="222">
										<span class="add-sub-bt">
											<button class="btn-plus"></button>
											<button class="btn-minus"></button>
										</span>
									</span>
                            </li>
                            <li class="last">
                                <span class="from-to ">From → to</span>
									<span class="price">
										<span class="add-on ">£</span>
										<div  class="number" >222</div><!--
										<input type="text" class="number" value="222">-->
									</span>
                                <br>
                                <small class="price-normally ">(price normally asked: £208)</small>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <fieldset class="main-block">
                    <div class="">
                        <ul class=" number-of-seats-offered">
                            <li>
                                <span class="">Number of seats offered:</span>
                                <span class="price1 number-span">
                                    <input type="text" class="number" value="222">
                                    <span class="add-sub-bt">
                                        <button class="btn-plus"></button>
                                        <button class="btn-minus"></button>
                                    </span>
                                </span>
                            </li>
                        </ul>
                    </div>
                </fieldset>
                <fieldset class="main-block">
                    <div class="header-main-block">
                        <p>Further details</p>
                    </div>
                    <section class="main-block-content">
                        <textarea  class="textarea-tip" rows="5"  placeholder="Provide extra information about your ride. More details about the departure/arrival point, what music you listen to, why you are travelling or anything else your passengers should know."></textarea>

                        <div class="helper1">
                            Your contact details (mobile number &amp; email) already appear in your profile, please do not add them here!
                            (<a href="#" >See our rules</a>)
                        </div>
                        <div class="form-horizontal "   method="POST">
                            <div class="form-group">
                                <label for="yor-car" class="col-sm-4  ">Yor car </label>
                                <div class="col-sm-6">
                                    <select id="yor-car"   class="yor-car form-control">
                                        <option value=" ">Yor car 1</option><option value="f">Yor car 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="yor-car" class="col-sm-4  ">Maximum luggage size:</label>
                                <div class="col-sm-3">
                                    <select id="yor-car"   class="yor-car form-control">
                                        <option value=" ">11111</option><option value="f">Yor car 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="yor-car" class="col-sm-4  ">I will leave:</label>
                                <div class="col-sm-5">
                                    <select id="yor-car"   class="yor-car form-control">
                                        <option value=" ">Yor car 1</option><option value="f">Yor car 2</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="yor-car" class="col-sm-4  ">I can make a detour:</label>
                                <div class="col-sm-5">
                                    <select id="yor-car"   class="yor-car form-control">
                                        <option value=" ">Yor car 1</option><option value="f">Yor car 2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </section>
                </fieldset>
                <fieldset class="main-block">

                    <section id="publication-unique" class="main-block-content" >
                        <label><input type="checkbox" class="">
                            I hereby certify that I hold a driving licence and valid car insurance (
                            <a {#target="_blank"#} href="#">See our ToS</a>
                            )

                        </label>
                    </section>
                </fieldset>
                <form action="#" method="POST">
                    <button type="submit">Continue</button>
                    <input type="hidden" name="ride" value="[[ Ride ]]"/>
                </form>
            </div>
            <div class="col-md-4 ">
                <div class="map">
                    <h4>My trip summary</h4>
                    <google-map places="Ride.places" map="map" style="width:342px;height:385px;display:block"></google-map>

                    <b>London → Glasgow</b>

                    <div class="row">
                        <div class="col-xs-6">Departure:</div>
                        <div class="col-xs-6">Saturday 27 December - 12:00</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">Distance:</div>
                        <div class="col-xs-6">732 Km</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">Driving time:</div>
                        <div class="col-xs-6">7h 46m</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">CO2 emissions:</div>
                        <div class="col-xs-6">156 Kg</div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript" src="{{ asset("/bundles/nxtcarmain/js/require/rideRunner.js") }}"></script>
{% endblock %}
