{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride_offer.css") }}">
{% endblock %}


{% block content %}
    <div class="test_offer">eee</div>
    offer
{% endblock %}