{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/find.css") }}">
{% endblock %}

{% block content %}
    <div class="mmmm"></div>
{% endblock %}