{% extends "nxtcarMainBundle::layout.html.twig" %}

{% block stylesheets %}
    {{ parent() }}{#
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride.css") }}">#}
    <link rel="stylesheet" href="{{ asset("bundles/nxtcarmain/css/ride.css") }}">
{% endblock %}

{% block content %}
    <a href="#" class="back"> ← Back to search results</a>
    <svg class="from-to-header" width="100%">
        <polygon points="0,0 1000,0 1000,50 90,50 80,60 70,50 0,50"
                 style="fill:#0ca9fa;stroke:#0ca9fa;stroke-width:1;" />
        <text fill="#ffffff" font-size="24" font-family="Helvetica Neue,Helvetica,Arial,sans-serif" x="15" y="30">
            Barking → Paris: Jethro T is offering a ride for £25
        </text>
    </svg>
    <div class="row">
        <div class="col-md-8">
            <div class="main-block">

                <h3 class="main-block-header">London → Paris → Barcelona
                    <a class="show-map" href="#"> Show map</a>
                </h3>
                <div class="main-content">
                    <ul class=" ">
                        <li class="row">
                            <div class="col-md-4 li-left">Pick-up point</div>
                            <div class="col-md-8 li-right ride-from">Marlborough</div>
                        </li>
                        <li class="row">
                            <div class="col-md-4 li-left">Drop off point</div>
                            <div class="col-md-8 li-right ride-to">Morzine, France</div>
                        </li>
                        <li class="row">
                            <div class="col-md-4 li-left">Departure date</div>
                            <div class="col-md-8 li-right">Today</div>
                        </li>
                        <li class="row">
                            <div class="col-md-4 li-left">Departure time</div>
                            <div class="col-md-8 li-right">07:30</div>
                        </li>
                    </ul>
                </div>
                <div class="block-content">
                    <h4>Trip details</h4>
                    <div class="row">
                        <div class="col-md-4 block-content-left">
                            Detour
                        </div>
                        <div class="col-md-8">Max. 15 min. detour
                            <img src="/bundles/nxtcarmain/images/question-mark.png" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Schedule flexibility</div>
                        <div class="col-md-8">Departure right on time</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Luggage size</div>
                        <div class="col-md-8"> Medium (travel bag)</div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 block-content-left">Car</div>
                        <div class="col-md-8">
                            <img src="/bundles/nxtcarmain/images/star-car.png" />
                            <img src="/bundles/nxtcarmain/images/star-car.png" />
                            Volvo V40
                        </div>
                    </div>
                </div>
                <p class="text-right">Offer published: 04/12/2014 - Seen 6 times</p>
            </div>
        </div>
        <div class="col-md-4">aaaaaaaaaaa</div>
    </div>

{% endblock %}