{% extends 'nxtcarMainBundle:Dashboard:base.html.twig' %}

{% block content %}
    <div class="div-profile-information">
        <div class="profile-information-header">Profile Information</div>
        {{ knp_menu_render(['nxtcarMainBundle:Builder:profileMenu', 'Profile']) }}
    </div>
{% endblock %}